body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
}

.section {
  padding-block: 50px;
}

.container {
  max-width: 1180px;
  margin-inline: auto;
  padding-inline: 35px;
}

.link {
  color: inherit;
}

/* ========== Catalogue cards section ========== */
.title-wrap {
  display: flex;
  align-items: center;
}

.title {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 25px;
  line-height: 1.24;
  letter-spacing: 0.05em;
}

.view-more-link {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: color 250ms ease;
}

.view-more-link:hover,
.view-more-link:focus {
  color: #845701;
}

.view-more {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.05em;
}

.view-more-icon {
  fill: #000000;
  transition: fill 250ms ease;
}

.view-more-link:hover .view-more-icon,
.view-more-link:focus .view-more-icon {
  fill: #845701;
}