.footer{
    background-color:  #000000;
}

.footer-container{  
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;  
}

.footer-navigation{
    display: flex;
    align-items: center;    
}

.text-footer {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.27;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.logo-dark-theme{

    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.27;
    letter-spacing: 0.25em;
    color: #FFFFFF;
}

.footer-social-list{
    display: flex;
    gap: 12px;
}

.social-list-icon{
    fill: rgba(255, 255, 255, 0.6);
}

.social-list-icon:hover,
.footer-contact-link:hover,
.submenu-footer-item:hover,
.menu-footer-item:hover,
.social-list-icon:focus,
.footer-contact-link:focus,
.submenu-footer-item:focus,
.menu-footer-item:focus{
    fill: #FFFFFF;
    color: #DADADA;
}

.menu-footer{
    display: flex;
    gap: 150px;
    margin-left: 150px;
}

.menu-footer-list,
.submenu-footer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-contact-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 15px;
}