/* ========== HEADER ========== */
.main{
  padding-top: 100px;
}
.header{
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 999;


}
.header-container {
  padding-block: 30px;
  display: flex;
  align-items: center;
  
}

.lang-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.lang-item {
}

.lang-link {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.2em;
}

.current-lang {
  font-weight: 600;
}

.logo {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.27;
  letter-spacing: 0.25em;
}

.navigation {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-list {
  margin-left: 218px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.navigation-item {
}

.navigation-link {
  display: flex;
  position: relative;
}

.navigation-icon {
}

.handbag-count {
  font-weight: 600;
  font-size: 15px;
  line-height: 1.27;
  position: absolute;
  bottom: -3px;
  right: -8px;
}

.menu-button {
  width: 18px;
  height: 18px;
  margin-left: 128px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: transparent;
  border: none;
}

.menu-button > span,
.menu-button > span::after,
.menu-button > span::before {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  background-color: #000000;
}

.menu-button > span::after {
  content: "";
  top: 7px;
}

.menu-button > span::before {
  content: "";
  top: -7px;
}
/* ========== HEADER ========== */