.hero {
  padding-top: 0;
}

.hero-container {
  position: relative;
}

.hero-top {
  position: relative;
  display: flex;
}

.main-title {  
  width: 408px;
  font-weight: 200;
  font-size: 35px;
  line-height: 1.26;
  text-align: right;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-top: 147px; 
}
.btn-go-catalog {
  width: 59px;
  height: 59px;
  margin-top: 95px;
  margin-left: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #a59b84;
  border-radius: 50%;
  background-color: #a59b84;
}
.btn-go-catalog:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #6f6e6e;
  border-color: transparent;
}
.go-catalog-icon {
  fill: #ffffff;
}
.hero-social-list {
  margin-top: 51px;
  display: none;
  gap: 12px;
}
.hero-social-list-icon {
  fill: rgba(0, 0, 0, 0.6);
}
.hero-social-list-icon:hover {
  fill: #000000;
}

.hero-article-title {
  width: 236px;
  height: 41px;
  font-weight: 600;
  line-height: 1.27;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.hero-article-wrap {
  display: flex;
  gap: 6px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hero-article-wrap:hover {
  color: #845701;
  fill: #845701;
}
.decor-circle-big {
  position: absolute;
  top: 0;
  left: 0;
  width: 513px;
  height: 513px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: -1;
}
.hero-top-right { 
  padding-left: 40px;
  padding-top: 80px;  
}

.decor-circle-gradient-hero {
  position: absolute;
  top: 47px; 
  left: 422px;
  z-index: -1;
  width: 370px;
  height: 370px;
  background: rgba(165, 155, 132, 0.4);
  filter: blur(25px);
  border-radius: 50%;
}

/* ========== SLIDER ========== */
.hero-swiper {
  width: 825px;  
}

.hero-slider-wrap {
  width: 661px;
  overflow: hidden;
}

.hero-slider-navigation-wrapper {
  margin-top: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-slider-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(165, 155, 132, 0.4);
  opacity: 1;
  cursor: pointer;
}

.hero-slider-pagination-bullet-active {
  background-color: #000000;
}
/* ========== SLIDER ========== */
