 <section class="section">
        <div class="container about">
            <h2 class="about-title">About shop</h2>
            <div class="about-describtion">
                <p class="about-name">olkas.shop</p>
                <p class="about-text">stylish clothes
                straight from the heart
                your country</p>
            </div>
            <div class="about-info">   
                    <ul class="about-list">
                    <li class="about-item">
                        <p class="quantity">50</p>
                        <p class="about-shop">Stores</p>
                    </li>
                    <li class="about-item">
                         <p class="quantity">300+</p>
                         <p class="about-shop">Reviews</p>
                    </li>
                    <li class="about-item">
                        <p class="quantity">20</p>
                        <p class="about-shop"> Employees</p>
                    </li>
                </ul>
                <ul class="about-nav">
                    <li class="about-nav-link">
                        <a class="link shop-link" href="">About us</a>
                    </li>
                    <li class="about-nav-link">
                        <a class="link contacts-link" href="">Contacts</a>
                    </li>
                </ul>
            </div>  
        </div>
</section>
   




