 <section class="section">
        <div class="container">
            <h2>About shop</h2>

            <p>olkas.shop</p>
            <p>stylish clothes
                straight from the heart
                your country</p>

        <ul>
            <li>
                <p>50 Stores</p>
            </li>
            <li>
                <p>300+ Reviews</p>
            </li>
         <li>
                <p>20 Employees</p>
        </li>
        </ul>
        <ul>
            <li>
                <a class="link" href="">About us</a>
            </li>
            <li>
                <a class="link" href="">Contacts</a>
            </li>
        </ul>
        </div>
</section>
   



