<section class="section">
  <div class="container">
    <div class="section-title-wrap">
      <h2 class="section-title">New Arrivals</h2>
      <a href="#" class="section-view-more-link">
        <span class="section-view-more">View more</span
        ><svg class="section-view-more-icon" width="13" height="16">
          <use href="./img/icons.svg#icon-arrow2"></use>
        </svg>
      </a>
    </div>
    <div class="swiper">
      <ul class="catalogue-card-list swiper-wrapper">
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/arrival/image1.jpg" alt="Classic white blouse" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >Classic white blouse</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$155</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/arrival/image2.jpg" alt="MеMint sweatshirt" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >MеMint sweatshirt</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$155</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/arrival/image3.jpg" alt="Knitted dress" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >Knitted dress</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$200</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/arrival/image4.jpg" alt="Ash blue sweatshirt" />
          <di class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >Ash blue sweatshirt</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$180</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </di>
        </li>
        <!--  -->
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/popular/image1.jpg" alt="White Shirt Blouse" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >White Shirt Blouse</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$150</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/popular/image2.jpg" alt="Dress With Thin Straps" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >Dress With Thin Straps</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$200</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/popular/image3.jpg" alt="Leather Black Blouse" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >Leather Black Blouse</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$185</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
        <li class="catalogue-card-item swiper-slide">
          <svg class="catalogue-card-favorites-icon" width="15" height="13">
            <use href="./img/icons.svg#icon-heart"></use>
          </svg>
          <img src="./img/popular/image4.jpg" alt="Zip-up Padded Jacket" />
          <div class="catalogue-card-article-wrap">
            <h3 class="catalogue-card-article-title">
              <a class="catalogue-card-article-title-link" href="#"
                >Zip-up Padded Jacket</a
              >
            </h3>
            <p class="catalogue-card-article-cost">$210</p>
            <svg class="catalogue-card-handbag-icon" width="16" height="18">
              <use href="./img/icons.svg#icon-handbag"></use>
            </svg>
          </div>
        </li>
      </ul>
      <div class="slider-navigation-wrapper">
        <div class="slider-button-prev">
          <svg class="slider-button-prev-icon" width="8" height="20">
            <use href="./img/icons.svg#icon-prev"></use>
          </svg>
        </div>
        <div class="slider-pagination"></div>
        <div class="slider-button-next">
          <svg class="slider-button-next-icon" width="8" height="20">
            <use href="./img/icons.svg#icon-next"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
