<div class="footer-container container">
    <nav class="footer-navigation">
        <a href="./index.html" class="logo-dark-theme link">olkas.shop</a>        
        <div class="menu-footer">
            <ul class="menu-footer-list">
              <li class="menu-footer-item text-footer">
                <a href="#" class="link">Home</a></li>
              <li class="menu-footer-item text-footer">
                <a href="#" class="link">About Us</a></li>
              <li class="menu-footer-item text-footer">
                <a href="#" class="link">Delivery</a></li>
              <li class="menu-footer-item text-footer">
                <a href="#">Contacts</a></li>
            </ul>
            <div class="footer-part-three">
                <ul class="submenu-footer-list">
                  <li class="submenu-footer-item text-footer">
                    <a href="#" class="link">Women's clothing</a></li>
                  <li class="submenu-footer-item text-footer">
                    <a href="#" class="link">Men's clothing</a></li>
                  <li class="submenu-footer-item text-footer">
                    <a href="#" class="link">Baby clothes</a></li>
                </ul>
                <ul class="footer-social-list">
                    <li class="social-list-item">
                        <a href="" class="social-list-link">
                            <svg class="social-list-icon" width="23" height="23">
                                <use href="./img/icons.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a href="" class="social-list-link">
                            <svg class="social-list-icon" width="23" height="23">
                                <use href="./img/icons.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="social-list-item">
                        <a href="" class="social-list-link">
                            <svg class="social-list-icon" width="23" height="23">
                                <use href="./img/icons.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="footer-part-four">
        <button class="btn-up">
            <a href="./index.html" class="up-link link">
                <svg class="up-icon" width="22" height="37">
                    <use href="./img/icons.svg#icon-arrow1"></use>
                </svg>
            </a>          
        </button>
    </div>
    <div class="footer-part-five">
        <button class="btn-footer">Request a call</button>        
        <div class="footer-contact">
            <a href="tel:+38798828222" class="footer-contact-link">+38798828222</a>     
            <a href="mailto:olkashop@gmail.com" class="footer-contact-link">olkashop@gmail.com</a>  
        </div>   
    </div>
</div>
