<div class="container header">
        <ul class="lang-list">
          <li class="lang-item"><a href="#" class="link lang-link current-lang">ru</a></li>
          <li class="lang-item"><a href="#" class="link lang-link">en</a></li>
        </ul>
        <nav class="navigation">
          <a href="./index.html" class="link logo">olkas.shop</a>
          <ul class="navigation-list">
            <li class="navigation-item">
              <a href="#" class="link navigation-link">
                <svg class="navigation-icon" width="21" height="18">
                  <use href="../img/icons.svg#icon-heart"></use>
                </svg>
              </a>
            </li>
            <li class="navigation-item">
              <a href="#" class="link navigation-link">
                <svg class="navigation-icon" width="16" height="18">
                  <use href="../img/icons.svg#icon-handbag"></use>
                </svg>
                <span class="handbag-count">1</span>
              </a>
            </li>
            <li class="navigation-item">
              <a href="#" class="link navigation-link">
                <svg class="navigation-icon" width="18" height="18">
                  <use href="../img/icons.svg#icon-find"></use>
                </svg>
              </a>
            </li>
          </ul>
          <button type="button" class="menu-button"><span></span></button>
        </nav>
      </div>