<section class="hero section">
  <div class="hero-container container">
    <div class="hero-top">
      <div class="hero-top-left">
        <h1 class="main-title">Made by people — on the ground</h1>
        <button class="btn-go-catalog" type="button">
          <a href="./catalog.html" class="go-catalog-link link">
            <svg class="up-icon" width="22" height="37">
              <use href="./img/icons.svg#icon-arrow3"></use>
            </svg>
          </a>
        </button>
      </div>
      <div class="hero-top-right">
        <ul class="hero-cards">
          <li class="hero-card">
            <img
              src="./img/hero-slider/image1.jpg"
              alt="Pants with text print"
            />
            <a href="#" class="hero-article-wrap link">
              <p class="hero-article-title">Pants with text print</p>
              <svg class="arrow-right-icon" width="13" height="16">
                <use href="./img/icons.svg#icon-arrow2"></use>
              </svg>
            </a>
          </li>
          <li class="hero-card">
            <img src="./img/hero-slider/image2.jpg" alt="Padded cocoon" />
            <a href="#" class="hero-article-wrap link">
              <p class="hero-article-title">Padded cocoon</p>
              <svg class="arrow-right-icon" width="13" height="16">
                <use href="./img/icons.svg#icon-arrow2"></use>
              </svg>
            </a>
          </li>
          <li class="hero-card">
            <img
              src="./img/hero-slider/image3.jpg"
              alt="Black and white striped jumper"
            />
            <a href="#" class="hero-article-wrap link">
              <p class="hero-article-title">Black and white striped jumper</p>
              <svg class="arrow-right-icon" width="13" height="16">
                <use href="./img/icons.svg#icon-arrow2"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="decor-circle-gradient-hero"></div>
      </div>
    </div>
    <ul class="hero-social-list">
      <li class="hero-social-list-item">
        <a href="#" class="hero-social-list-link">
          <svg class="hero-social-list-icon" width="23" height="23">
            <use href="./img/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-list-item">
        <a href="#" class="hero-social-list-link">
          <svg class="hero-social-list-icon" width="23" height="23">
            <use href="./img/icons.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
      <li class="hero-social-list-item">
        <a href="#" class="hero-social-list-link">
          <svg class="hero-social-list-icon" width="23" height="23">
            <use href="./img/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <div class="decor-circle-big"></div>
  </div>
</section>
