<div class="backdrop is-hidden" data-modal>
  <div class="modal-menu">
    <div class="mobile-menu-container">
      <div class="menu-left">
        <div class="menu-top">
          <a href="./index.html" class="logo-dark-theme link">olkas.shop</a>
          <button class="btn-request-call">Request a call</button>
        </div>
        <div class="menu-bottom">
          <div class="menu-content-wrap">
            <ul class="menu-content list">
              <li class="text-menu">
                <a href="#" class="menu-link link">Home</a>
              </li>
              <li class="text-menu">
                <a href="#" class="menu-link link">About Us</a>
              </li>
              <li class="text-menu">
                <a href="#" class="menu-link link">Delivery</a>
              </li>
              <li class="text-menu">
                <a href="#" class="menu-link link">Contacts</a>
              </li>
            </ul>
            <ul class="menu-content list">
              <li class="text-menu">
                <a href="#" class="menu-link link">Women's clothing</a>
              </li>
              <li class="text-menu">
                <a href="#" class="menu-link link">Men's clothing</a>
              </li>
              <li class="text-menu">
                <a href="#" class="menu-link link">Baby clothes</a>
              </li>
            </ul>
          </div>
          <ul class="contact-menu list">
            <li class="contact-menu-item">
              <a class="contact-menu-link link" href="tel:+38798828222"
                >+38798828222</a
              >
            </li>
            <li class="contact-menu-item">
              <a class="contact-menu-link link" href="olkashop@gmail.com"
                >olkashop@gmail.com</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="menu-right">
        <button type="button" class="modal-close-btn" data-modal-close>
          <svg class="modal-close-btn-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <ul class="menu-social-list list">
          <li class="social-list-item">
            <a href="" class="social-list-link">
              <svg class="social-list-icon" width="23" height="23">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a href="" class="social-list-link">
              <svg class="social-list-icon" width="23" height="23">
                <use href="./img/icons.svg#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="social-list-item">
            <a href="" class="social-list-link">
              <svg class="social-list-icon" width="23" height="23">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
