<section class="section">
  <div class="container">
    <div class="title-wrap">
      <h2 class="title">Popular categories</h2>
      <div class="view-more-wrap">
        <span class="view-more">View more</span
        ><svg class="view-more-icon" width="13" height="16">
          <use href="../img/icons.svg#icon-arrow2"></use>
        </svg>
      </div>
    </div>
    <ul class="categiries-list">
      <li class="categories-item">
        <svg class="favorites-icon" width="15" height="13">
          <use href="../img/icons.svg#icon-heart"></use>
        </svg>
        <img src="../img/popular/image1.jpg" alt="White Shirt Blouse" />
        <div class="article-wrap">
          <h3 class="article-title">White Shirt Blouse</h3>
          <p class="article-cost">$150</p>
          <svg class="handbag-icon" width="16" height="18">
            <use href="../img/icons.svg#icon-handbag"></use>
          </svg>
        </div>
      </li>
      <li class="categories-item">
        <svg class="favorites-icon" width="15" height="13">
          <use href="../img/icons.svg#icon-heart"></use>
        </svg>
        <img src="../img/popular/image2.jpg" alt="Dress With Thin Straps" />
        <div class="article-wrap">
          <h3 class="article-title">Dress With Thin Straps</h3>
          <p class="article-cost">$200</p>
          <svg class="handbag-icon" width="16" height="18">
            <use href="../img/icons.svg#icon-handbag"></use>
          </svg>
        </div>
      </li>
      <li class="categories-item">
        <svg class="favorites-icon" width="15" height="13">
          <use href="../img/icons.svg#icon-heart"></use>
        </svg>
        <img src="../img/popular/image3.jpg" alt="Leather Black Blouse" />
        <div class="article-wrap">
          <h3 class="article-title">Leather Black Blouse</h3>
          <p class="article-cost">$185</p>
          <svg class="handbag-icon" width="16" height="18">
            <use href="../img/icons.svg#icon-handbag"></use>
          </svg>
        </div>
      </li>
      <li class="categories-item">
        <svg class="favorites-icon" width="15" height="13">
          <use href="../img/icons.svg#icon-heart"></use>
        </svg>
        <img src="../img/popular/image4.jpg" alt="Zip-up Padded Jacket" />
        <di class="article-wrap">
          <h3 class="article-title">Zip-up Padded Jacket</h3>
          <p class="article-cost">$210</p>
          <svg class="handbag-icon" width="16" height="18">
            <use href="../img/icons.svg#icon-handbag"></use>
          </svg>
        </di>
      </li>
    </ul>
  </div>
</section>
