<section class="subscribe section">
    <div class="subscribe-container container">
        <div class="subscribe-wrap">
            <div class="subscribe-left">
                <strong class="subscribe-subtitle">Let's talk about discounts</strong>
                <form class="subscribe-form">               
                    <label class="subscribe-field">                                                 
                        <span class="subscribe-input-wrap">
                            <input 
                            type="text" 
                            name="user_text" 
                            class="subscribe-input"
                            placeholder="E-mail" 
                            required 
                            pattern="[a-zA-z]+$"
                            title=""
                            />
                        </span>              
                    </label>                       
                    <button type="submit" class="btn-send">
                        <svg class="send-icon" width="13" height="16">
                            <use href="./img/icons.svg#icon-arrow2"></use>
                        </svg>
                    </button>                    
                </form>    
            </div>
                
        </div>
    </div>
</section>