<section class="subscribe section">
    <div class="suscribe-container container">
        <div class="suscribe-wrapr">
            <div class="suscribe-left">
                <strong class="subscribe-subtitle">Let's talk about discounts</strong>
                <form class="subscribe-form">               
                    <label class="subscribe-field">                                                 
                        <span class="subscribe-input-wrap">
                            <input 
                            type="text" 
                            name="user_text" 
                            class="subscribe-input"
                            placeholder="E-mail" 
                            required 
                            pattern="[a-zA-z]+$"
                            title=""
                            />
                        </span>              
                    </label>                       
                    <button type="submit" class="btn-send">
                        <svg class="send-icon" width="13" height="14">
                            <use href="../img/icons.svg#icon-arrow2"></use>
                        </svg>
                    </button>                    
                </form>    
            </div>
            <img  class="img-black-week" src="../img/discount/img-black-week-min.png" alt="The girl and the inscription black week" width="700" height="456">     
        </div>
    </div>
</section>
